{
  "presets": [
    ["env", {
      "production": {
        "targets": {
          "chrome" : 1
        },
        "modules": false,
      },
      "development": {
        "targets": {
          "chrome" : 1
        },
        "modules": false,
      },
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread"]
}
